src/*.exe
src/poins
src/poinsd
src/test_poins
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.poins

# Compilation and Qt preprocessor part
*.qm
Makefile
poins-qt
Poins-Qt.app

# Unit-tests
Makefile.test
poins-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
